@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="flat-account">
                            <div class="banner-account">
                                <img src="https://res.cloudinary.com/dsxlhk9cg/image/upload/v1732997462/Login-banner_zmtomx.png" alt="banner" class="img-fluid">
                            </div>
                            <form id="account" method="post" class="form-account">
                                <div class="title-box text-center">
                                    <h4>Вход</h4>
                                    <span class="close-modal icon-close2" data-bs-dismiss="modal"></span>
                                </div>
                                <div class="box">
                                    <fieldset class="box-fieldset mb-3">
                                        <label asp-for="Input.Email" class="form-label">Имейл</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z" fill="#080341"/>
                                                </svg>
                                            </span>
                                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Вашият имейл">
                                        </div>
                                        <div class="text-danger">
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                    </fieldset>
                                    <fieldset class="box-fieldset mb-3">
                                        <label asp-for="Input.Password" class="form-label">Парола</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
                                                    <path d="M12 10V14M10.2676 11L13.7317 13M13.7314 11L10.2673 13" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                                    <path d="M6.73241 10V14M4.99999 11L8.46409 13M8.46386 11L4.99976 13" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                                    <path d="M17.2681 10V14M15.5356 11L18.9997 13M18.9995 11L15.5354 13" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                                    <path d="M22 12C22 15.7712 22 17.6569 20.8284 18.8284C19.6569 20 17.7712 20 14 20H10C6.22876 20 4.34315 20 3.17157 18.8284C2 17.6569 2 15.7712 2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C21.4816 5.82475 21.7706 6.69989 21.8985 8" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                                </svg>
                                            </span>
                                            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Вашата парола">
                                        </div>
                                        <div class="text-danger">
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="text-end mt-2">
                                            <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола</a>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="box box-btn">
                                    <button id="login-submit" type="submit" class="btn btn-primary w-100">Вход</button>
                                    <div class="text-center mt-2">
                                        Нямате същестуващ акаунт?
                                        <a class="text-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
