@using HomeRent.Data.Models.User
@using Microsoft.AspNetCore.Identity
@model HomeRent.Models.ViewModels.Dashboard.DashboardViewModel
@inject UserManager<ApplicationUser> userManager;
@{
    ViewData["Title"] = "Табло за управление";
}

<div class="layout-wrap">
    @* Sidebar Menu *@
    <partial name="_SidebarMenuDashboard" />
    
    <div class="main-content">
        @if(Model.IsTenant)
        {
            <partial name="_TenantDashbaordPartial" />   
        }
        else if (Model.IsOwner) 
        {
            <partial name="_OwnerDashboardPartial" model="@Model.OwnerDashboard" />
        }
    </div>
</div>