@model HomeRent.Models.ViewModels.Dashboard.DashboardViewModel
@{
    ViewData["Title"] = "Табло за управление";
}

<div class="layout-wrap">
    @* Sidebar Menu *@
    <partial name="_SidebarMenuDashboard" />
    
    <div class="main-content">
        @if(Model.IsTenant)
        {
            <partial name="_TenantDashboardPartial" model="@Model.TenantDashboard" />
        }
        else if (Model.IsOwner) 
        {
            <partial name="_OwnerDashboardPartial" model="@Model.OwnerDashboard" />
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/cancelBooking.js" asp-append-version="true"></script>
}