@using System.Linq
@model HomeRent.Models.ViewModels.Property.CreatePropertyViewModel
@{
    ViewData["Title"] = "Добавяне на обява";
}


<div class="layout-wrap">
    @* Sidebar Menu *@
    <partial name="_SidebarMenuDashboard" />

    @* Create Listing Form *@
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="widget-box-2 mb-20">
                    <h5 class="title">Добавете снимки</h5>
                    <div class="box-uploadfile text-center">
                        <div class="uploadfile">
                            <div class="btn-upload tf-btn primary">
                                <input type="file" asp-for="Property.UploadedImages" multiple class="ip-file">
                                <span>Изберете снимки</span>
                            </div>
                            <span asp-validation-for="Property.UploadedImages" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="widget-box-2 mb-20">
                    <h5 class="title">Информация</h5>
                    <div class="box-info-property">
                        <fieldset class="box box-fieldset">
                            <label>Заглавие:<span>*</span></label>
                            <input type="text" asp-for="Property.Title" class="form-control" placeholder="Заглавие">
                            <span asp-validation-for="Property.Title" class="text-danger"></span>
                        </fieldset>
                        <fieldset class="box box-fieldset">
                            <label>Описание:</label>
                            <textarea asp-for="Property.Description" class="textarea" placeholder="Вашето описание"></textarea>
                            <span asp-validation-for="Property.Description" class="text-danger"></span>
                        </fieldset>
                        <div class="box grid-2 gap-30">
                            <fieldset class="box-fieldset">
                                <label>Адрес:<span>*</span></label>
                                <input type="text" asp-for="Property.Address" class="form-control" placeholder="Въведете адрес">
                                <span asp-validation-for="Property.Address" class="text-danger"></span>
                            </fieldset>
                            <fieldset class="box-fieldset">
                                <label>Пощенски код:<span>*</span></label>
                                <input type="text" asp-for="Property.PostalCode" class="form-control" placeholder="Въведете пощенски код">
                                <span asp-validation-for="Property.PostalCode" class="text-danger"></span>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="widget-box-2 mb-20">
                    <h5 class="title">Цена и площ</h5>
                    <div class="box-price-property">
                        <div class="box grid-2 gap-30">
                            <fieldset class="box-fieldset">
                                <label>Цена:<span>*</span></label>
                                <input type="number" asp-for="Property.PricePerNight" class="form-control" placeholder="Цена за една нощувка">
                                <span asp-validation-for="Property.PricePerNight" class="text-danger"></span>
                            </fieldset>
                            <fieldset class="box-fieldset">
                                <label>Спални:<span>*</span></label>
                                <input type="number" asp-for="Property.Bedrooms" class="form-control" placeholder="Брой спални">
                                <span asp-validation-for="Property.Bedrooms" class="text-danger"></span>
                            </fieldset>
                            <fieldset class="box-fieldset">
                                <label>Бани:<span>*</span></label>
                                <input type="number" asp-for="Property.Bathrooms" class="form-control" placeholder="Брой бани">
                                <span asp-validation-for="Property.Bathrooms" class="text-danger"></span>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="widget-box-2 mb-20">
                    <h5 class="title">Допълнителна информация</h5>
                    <div class="box grid-2 gap-30">
                        <fieldset class="box-fieldset">
                            <label>Град:<span>*</span></label>
                            <input type="text" asp-for="Property.City" class="form-control" placeholder="Името на града">
                            <span asp-validation-for="Property.City" class="text-danger"></span>
                        </fieldset>
                        <fieldset class="box-fieldset">
                            <label>Тип на имота:<span>*</span></label>
                            <select asp-for="Property.PropertyTypeId" asp-items="Model.PropertyTypes" class="nice-select">
                                <option class="current" value="">Изберете тип на имота</option>
                            </select>
                            <span asp-validation-for="Property.PropertyTypeId" class="text-danger"></span>
                        </fieldset>
                    </div>
                </div>
                <div class="widget-box-2 mb-20">
                    <h5 class="title">Удобства<span>*</span></h5>
                    <div class="box-amenities-property">
                        @* Example of checkbox binding for AmenityIds *@
                        <div class="list-amenities">
                            @foreach (var amenity in Model.Amenities)
                            {
                                <fieldset class="amenities-item">
                                    <input type="checkbox" value="@amenity.Id" id="amenity1">
                                    <i class="@amenity.IconClass"></i>
                                    <label for="amenity1">@amenity.Name</label>
                                </fieldset>
                            }
                            @* <fieldset class="amenities-item">
                                <input type="checkbox" value="2" id="amenity2">
                                <label for="amenity2">Self check-in with lockbox</label>
                            </fieldset> *@
                        </div>
                    </div>
                </div>
                <div class="box-btn">
                    <button type="submit" class="tf-btn primary">Създай обява</button>
                </div>
            </div>
        </div>
    </form>

    <div class="overlay-dashboard"></div>
</div>