@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Промяна на парола";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="main-content-inner">
    <h3 class="text-center pb-5">@ViewData["Title"]</h3>

    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="button-show-hide show-mb">
        <span class="body-1">Покажи страничното меню</span>
    </div>

    <div class="">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating pb-4">
                <input asp-for="Input.OldPassword" class="form-control" aria-required="true" />
                <label asp-for="Input.OldPassword" class="form-label">Настояща парола</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>

            <div class="form-floating pb-4">
                <input asp-for="Input.NewPassword" class="form-control" aria-required="true" />
                <label asp-for="Input.NewPassword" class="form-label">Нова парола</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="form-floating pb-4">
                <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Нова парола</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 tf-btn primary">Промяна на паролата</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}