@{
    ViewData["Title"] = "Начало";
}

<!-- Slider -->
<section class="flat-slider home-1" style="background-image: url(https://res.cloudinary.com/dsxlhk9cg/image/upload/v1732969088/sliderimage2-copy_bexv5k.jpg);">
    <div class="container relative">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider-content">
                    <div class="heading text-center">
                        <h1 class="title-large text-white animationtext slide">
                            Намерете своя
                            <span class="tf-text s1 cd-words-wrapper">
                                <span class="item-text is-visible">Мечтан дом</span>
                                <span class="item-text is-hidden">Перфектен дом</span>
                            </span>
                        </h1>
                        <p class="subtitle text-white body-2 wow fadeInUp" data-wow-delay=".2s">Хиляди имоти под наем те очакват!  Намери своя перфектен дом сега! </p>
                    </div>
                    <div class="flat-tab flat-tab-form">
                        <ul class="nav-tab-form style-1 justify-content-center" role="tablist">
                            <li class="nav-tab-item" role="presentation">
                                <a href="" class="nav-link-item active" data-bs-toggle="tab">Търси имоти под наем</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" role="tabpanel">
                                <div class="form-sl">
                                    <form method="post">
                                        <div class="wd-find-select">
                                            <div class="inner-group">
                                                <div class="form-group-1 search-form form-style">
                                                    <label>Тип</label>
                                                    <div class="group-select">
                                                        <div class="nice-select" tabindex="0">
                                                            <span class="current">Всички</span>
                                                            <ul class="list">
                                                                <li data-value="" class="option selected">All</li>
                                                                <li data-value="villa" class="option">Villa</li>
                                                                <li data-value="studio" class="option">Studio</li>
                                                                <li data-value="office" class="option">Office</li>
                                                                <li data-value="house" class="option">House</li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group-2 form-style">
                                                    <label>Локация</label>
                                                    <div class="group-ip">
                                                        <input type="text" class="form-control" placeholder="Потърси локация" value="" name="s" title="Search for" required="">
                                                        <a href="#" class="icon icon-location">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="form-group-3 form-style">
                                                    <label>Ключова дума</label>
                                                    <input type="text" class="form-control" placeholder="Потърси ключова дума" value="" name="s" title="Search for" required="">
                                                </div>

                                            </div>
                                            <div class="box-btn-advanced">
                                                <div class="form-group-4 box-filter">
                                                    <a class="tf-btn btn-line filter-advanced pull-right">
                                                        <span class="text-1">Още филтри</span>
                                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.5 12.375V3.4375M5.5 12.375C5.86467 12.375 6.21441 12.5199 6.47227 12.7777C6.73013 13.0356 6.875 13.3853 6.875 13.75C6.875 14.1147 6.73013 14.4644 6.47227 14.7223C6.21441 14.9801 5.86467 15.125 5.5 15.125M5.5 12.375C5.13533 12.375 4.78559 12.5199 4.52773 12.7777C4.26987 13.0356 4.125 13.3853 4.125 13.75C4.125 14.1147 4.26987 14.4644 4.52773 14.7223C4.78559 14.9801 5.13533 15.125 5.5 15.125M5.5 15.125V18.5625M16.5 12.375V3.4375M16.5 12.375C16.8647 12.375 17.2144 12.5199 17.4723 12.7777C17.7301 13.0356 17.875 13.3853 17.875 13.75C17.875 14.1147 17.7301 14.4644 17.4723 14.7223C17.2144 14.9801 16.8647 15.125 16.5 15.125M16.5 12.375C16.1353 12.375 15.7856 12.5199 15.5277 12.7777C15.2699 13.0356 15.125 13.3853 15.125 13.75C15.125 14.1147 15.2699 14.4644 15.5277 14.7223C15.7856 14.9801 16.1353 15.125 16.5 15.125M16.5 15.125V18.5625M11 6.875V3.4375M11 6.875C11.3647 6.875 11.7144 7.01987 11.9723 7.27773C12.2301 7.53559 12.375 7.88533 12.375 8.25C12.375 8.61467 12.2301 8.96441 11.9723 9.22227C11.7144 9.48013 11.3647 9.625 11 9.625M11 6.875C10.6353 6.875 10.2856 7.01987 10.0277 7.27773C9.76987 7.53559 9.625 7.88533 9.625 8.25C9.625 8.61467 9.76987 8.96441 10.0277 9.22227C10.2856 9.48013 10.6353 9.625 11 9.625M11 9.625V18.5625" stroke="#161E2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <button type="submit" class="tf-btn btn-search primary">Търси<i class="icon icon-search"></i> </button>
                                            </div>

                                        </div>
                                        <div class="wd-search-form">
                                            <div class="grid-2 group-box group-price">
                                                <div class="widget-price">
                                                    <div class="box-title-price">
                                                        <span class="title-price fw-6">Price:</span>
                                                        <div class="caption-price">
                                                            <span id="slider-range-value1" class="fw-6">$100</span>
                                                            <span>-</span>
                                                            <span id="slider-range-value2" class="fw-6">$650,000</span>
                                                        </div>
                                                    </div>
                                                    <div id="slider-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 0%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>
                                                    <div class="slider-labels">
                                                        <div>
                                                            <input type="hidden" name="min-value" value="">
                                                            <input type="hidden" name="max-value" value="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="widget-price">
                                                    <div class="box-title-price">
                                                        <span class="title-price fw-6">Size:</span>
                                                        <div class="caption-price">
                                                            <span id="slider-range-value01" class="fw-7">500 SqFt</span>
                                                            <span>-</span>
                                                            <span id="slider-range-value02" class="fw-7">1,500 SqFt</span>
                                                        </div>
                                                    </div>
                                                    <div id="slider-range2" class="noUi-target noUi-ltr noUi-horizontal noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 24.2424%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 74.7475%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>
                                                    <div class="slider-labels">
                                                        <div>
                                                            <input type="hidden" name="min-value2" value="">
                                                            <input type="hidden" name="max-value2" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-2 group-box">
                                                <div class="group-select grid-2">
                                                    <div class="box-select">
                                                        <label class="title-select fw-6">Rooms</label>
                                                        <div class="nice-select" tabindex="0">
                                                            <span class="current">2</span>
                                                            <ul class="list">
                                                                <li data-value="1" class="option">1</li>
                                                                <li data-value="2" class="option selected">2</li>
                                                                <li data-value="3" class="option">3</li>
                                                                <li data-value="4" class="option">4</li>
                                                                <li data-value="5" class="option">5</li>
                                                                <li data-value="6" class="option">6</li>
                                                                <li data-value="7" class="option">7</li>
                                                                <li data-value="8" class="option">8</li>
                                                                <li data-value="9" class="option">9</li>
                                                                <li data-value="10" class="option">10</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="box-select">
                                                        <label class="title-select fw-6">Bathrooms</label>
                                                        <div class="nice-select" tabindex="0">
                                                            <span class="current">2</span>
                                                            <ul class="list">
                                                                <li data-value="1" class="option">1</li>
                                                                <li data-value="2" class="option selected">2</li>
                                                                <li data-value="3" class="option">3</li>
                                                                <li data-value="4" class="option">4</li>
                                                                <li data-value="5" class="option">5</li>
                                                                <li data-value="6" class="option">6</li>
                                                                <li data-value="7" class="option">7</li>
                                                                <li data-value="8" class="option">8</li>
                                                                <li data-value="9" class="option">9</li>
                                                                <li data-value="10" class="option">10</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="group-select grid-2">
                                                    <div class="box-select">
                                                        <label class="title-select fw-6">Bedrooms</label>
                                                        <div class="nice-select" tabindex="0">
                                                            <span class="current">2</span>
                                                            <ul class="list">
                                                                <li data-value="1" class="option">1</li>
                                                                <li data-value="2" class="option selected">2</li>
                                                                <li data-value="3" class="option">3</li>
                                                                <li data-value="4" class="option">4</li>
                                                                <li data-value="5" class="option">5</li>
                                                                <li data-value="6" class="option">6</li>
                                                                <li data-value="7" class="option">7</li>
                                                                <li data-value="8" class="option">8</li>
                                                                <li data-value="9" class="option">9</li>
                                                                <li data-value="10" class="option">10</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="box-select">
                                                        <label class="title-select fw-6">Type</label>
                                                        <div class="nice-select" tabindex="0">
                                                            <span class="current">2</span>
                                                            <ul class="list">
                                                                <li data-value="1" class="option">1</li>
                                                                <li data-value="2" class="option selected">2</li>
                                                                <li data-value="3" class="option">3</li>
                                                                <li data-value="4" class="option">4</li>
                                                                <li data-value="5" class="option">5</li>
                                                                <li data-value="6" class="option">6</li>
                                                                <li data-value="7" class="option">7</li>
                                                                <li data-value="8" class="option">8</li>
                                                                <li data-value="9" class="option">9</li>
                                                                <li data-value="10" class="option">10</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="group-checkbox">
                                                <div class="text-1 text-black-2">Amenities:</div>
                                                <div class="group-amenities grid-6">
                                                    <div class="box-amenities">
                                                        <fieldset class="amenities-item">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb1" checked="">
                                                            <label for="cb1" class="text-cb-amenities">Air Condition</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb2">
                                                            <label for="cb2" class="text-cb-amenities">Cable TV</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb3">
                                                            <label for="cb3" class="text-cb-amenities">Ceiling Height</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb4">
                                                            <label for="cb4" class="text-cb-amenities">Fireplace</label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="box-amenities">
                                                        <fieldset class="amenities-item">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb5">
                                                            <label for="cb5" class="text-cb-amenities">Disabled Access</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb6" checked="">
                                                            <label for="cb6" class="text-cb-amenities">Elevator</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb7">
                                                            <label for="cb7" class="text-cb-amenities">Fence</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb8">
                                                            <label for="cb8" class="text-cb-amenities">Garden</label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="box-amenities">
                                                        <fieldset class="amenities-item">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb9" checked="">
                                                            <label for="cb9" class="text-cb-amenities">Floor</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb10">
                                                            <label for="cb10" class="text-cb-amenities">Furnishing</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb11" checked="">
                                                            <label for="cb11" class="text-cb-amenities">Garage</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb12">
                                                            <label for="cb12" class="text-cb-amenities">Pet Friendly</label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="box-amenities">
                                                        <fieldset class="amenities-item">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb13">
                                                            <label for="cb13" class="text-cb-amenities">Heating</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb14">
                                                            <label for="cb14" class="text-cb-amenities">Intercom</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb15">
                                                            <label for="cb15" class="text-cb-amenities">Parking</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb16">
                                                            <label for="cb16" class="text-cb-amenities">WiFi</label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="box-amenities">
                                                        <fieldset class="amenities-item">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb17">
                                                            <label for="cb17" class="text-cb-amenities">Renovation</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb18">
                                                            <label for="cb18" class="text-cb-amenities">Security</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb19">
                                                            <label for="cb19" class="text-cb-amenities">Swimming Pool</label>
                                                        </fieldset>

                                                    </div>
                                                    <div class="box-amenities">
                                                        <fieldset class="amenities-item">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb20">
                                                            <label for="cb20" class="text-cb-amenities">Window Type</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb21">
                                                            <label for="cb21" class="text-cb-amenities">Search property</label>
                                                        </fieldset>
                                                        <fieldset class="amenities-item mt-16">
                                                            <input type="checkbox" class="tf-checkbox style-1" id="cb22">
                                                            <label for="cb22" class="text-cb-amenities">Construction Year</label>
                                                        </fieldset>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Eu9JMxVqohArn5zmVzzT5Er5wXUgfi-vEGkFFJIL9fK5zT9Jc3dvP_zy_JjltiiFLgvPxQlmfy1me3Cvx5W2yL-WxmOZfdYLD6OTD7J9llqRP9nacxuGVXnaK8J5xebtCm85_iFBIby0pCS-jpPXDQ">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- End Slider -->

<!-- Recommended -->
<section class="flat-section flat-recommended">
    <div class="container">
        <div class="box-title text-center wow fadeInUp" style="visibility: visible;">
            <div class="text-subtitle text-primary">Нашите предложения</div>
            <h3 class="mt-4 title">Препоръчани за теб</h3>
        </div>
        <div class="flat-tab-recommended flat-animate-tab wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">
            <div class="tab-content">
                <div class="tab-pane active show" id="viewAll" role="tabpanel">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="homelengo-box">
                                <div class="archive-top">
                                    <a href="property-details-v1.html" class="images-group">
                                        <div class="images-style">
                                            <img class=" ls-is-cached lazyloaded" data-src="images/home/house-1.jpg" src="images/home/house-1.jpg" alt="img">
                                        </div>
                                        <div class="top">
                                            <ul class="d-flex gap-6">
                                                <li class="flag-tag primary">Featured</li>
                                                <li class="flag-tag style-1">For Sale</li>
                                            </ul>

                                        </div>
                                        <div class="bottom">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 7C10 7.53043 9.78929 8.03914 9.41421 8.41421C9.03914 8.78929 8.53043 9 8 9C7.46957 9 6.96086 8.78929 6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579C9.78929 5.96086 10 6.46957 10 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M13 7C13 11.7613 8 14.5 8 14.5C8 14.5 3 11.7613 3 7C3 5.67392 3.52678 4.40215 4.46447 3.46447C5.40215 2.52678 6.67392 2 8 2C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                            145 Brooklyn Ave, Califonia, New York
                                        </div>
                                    </a>

                                </div>
                                <div class="archive-bottom">
                                    <div class="content-top">
                                        <h6 class="text-capitalize"><a href="property-details-v1.html" class="link"> Casa Lomas de Machalí Machas</a></h6>
                                        <ul class="meta-list">
                                            <li class="item">
                                                <i class="icon icon-bed"></i>
                                                <span class="text-variant-1">Beds:</span>
                                                <span class="fw-6">3</span>
                                            </li>
                                            <li class="item">
                                                <i class="icon icon-bath"></i>
                                                <span class="text-variant-1">Baths:</span>
                                                <span class="fw-6">2</span>
                                            </li>
                                            <li class="item">
                                                <i class="icon icon-sqft"></i>
                                                <span class="text-variant-1">Sqft:</span>
                                                <span class="fw-6">1150</span>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="content-bottom">
                                        <div class="d-flex gap-8 align-items-center">
                                            <div class="avatar avt-40 round">
                                                <img src="images/avatar/avt-png1.png" alt="avt">
                                            </div>
                                            <span>Arlene McCoy</span>
                                        </div>
                                        <h6 class="price">$7250,00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="homelengo-box">
                                <div class="archive-top">
                                    <a href="property-details-v1.html" class="images-group">
                                        <div class="images-style">
                                            <img class=" ls-is-cached lazyloaded" data-src="images/home/house-2.jpg" src="images/home/house-2.jpg" alt="img">
                                        </div>
                                        <div class="top">
                                            <ul class="d-flex gap-6">
                                                <li class="flag-tag primary">Featured</li>
                                                <li class="flag-tag style-1">For Sale</li>
                                            </ul>

                                        </div>
                                        <div class="bottom">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 7C10 7.53043 9.78929 8.03914 9.41421 8.41421C9.03914 8.78929 8.53043 9 8 9C7.46957 9 6.96086 8.78929 6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579C9.78929 5.96086 10 6.46957 10 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M13 7C13 11.7613 8 14.5 8 14.5C8 14.5 3 11.7613 3 7C3 5.67392 3.52678 4.40215 4.46447 3.46447C5.40215 2.52678 6.67392 2 8 2C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                            145 Brooklyn Ave, Califonia, New York
                                        </div>
                                    </a>

                                </div>
                                <div class="archive-bottom">
                                    <div class="content-top">
                                        <h6 class="text-capitalize"><a href="property-details-v1.html" class="link"> Casa Lomas de Machalí Machas</a></h6>
                                        <ul class="meta-list">
                                            <li class="item">
                                                <i class="icon icon-bed"></i>
                                                <span class="text-variant-1">Beds:</span>
                                                <span class="fw-6">3</span>
                                            </li>
                                            <li class="item">
                                                <i class="icon icon-bath"></i>
                                                <span class="text-variant-1">Baths:</span>
                                                <span class="fw-6">2</span>
                                            </li>
                                            <li class="item">
                                                <i class="icon icon-sqft"></i>
                                                <span class="text-variant-1">Sqft:</span>
                                                <span class="fw-6">1150</span>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="content-bottom">
                                        <div class="d-flex gap-8 align-items-center">
                                            <div class="avatar avt-40 round">
                                                <img src="images/avatar/avt-png2.png" alt="avt">
                                            </div>
                                            <span>Arlene McCoy</span>
                                        </div>
                                        <h6 class="price">$7250,00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="homelengo-box">
                                <div class="archive-top">
                                    <a href="property-details-v1.html" class="images-group">
                                        <div class="images-style">
                                            <img class=" ls-is-cached lazyloaded" data-src="images/home/house-3.jpg" src="images/home/house-3.jpg" alt="img">
                                        </div>
                                        <div class="top">
                                            <ul class="d-flex gap-6">
                                                <li class="flag-tag primary">Featured</li>
                                                <li class="flag-tag style-1">For Sale</li>
                                            </ul>

                                        </div>
                                        <div class="bottom">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 7C10 7.53043 9.78929 8.03914 9.41421 8.41421C9.03914 8.78929 8.53043 9 8 9C7.46957 9 6.96086 8.78929 6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579C9.78929 5.96086 10 6.46957 10 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M13 7C13 11.7613 8 14.5 8 14.5C8 14.5 3 11.7613 3 7C3 5.67392 3.52678 4.40215 4.46447 3.46447C5.40215 2.52678 6.67392 2 8 2C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                            145 Brooklyn Ave, Califonia, New York
                                        </div>
                                    </a>

                                </div>
                                <div class="archive-bottom">
                                    <div class="content-top">
                                        <h6 class="text-capitalize"><a href="property-details-v1.html" class="link"> Casa Lomas de Machalí Machas</a></h6>
                                        <ul class="meta-list">
                                            <li class="item">
                                                <i class="icon icon-bed"></i>
                                                <span class="text-variant-1">Beds:</span>
                                                <span class="fw-6">3</span>
                                            </li>
                                            <li class="item">
                                                <i class="icon icon-bath"></i>
                                                <span class="text-variant-1">Baths:</span>
                                                <span class="fw-6">2</span>
                                            </li>
                                            <li class="item">
                                                <i class="icon icon-sqft"></i>
                                                <span class="text-variant-1">Sqft:</span>
                                                <span class="fw-6">1150</span>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="content-bottom">
                                        <div class="d-flex gap-8 align-items-center">
                                            <div class="avatar avt-40 round">
                                                <img src="images/avatar/avt-png3.png" alt="avt">
                                            </div>
                                            <span>Arlene McCoy</span>
                                        </div>
                                        <h6 class="price">$7250,00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="sidebar-grid.html" class="tf-btn btn-view primary size-1 hover-btn-view">Разгледайте всички имоти <span class="icon icon-arrow-right2"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>