<footer class="footer">
    <div class="inner-footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-cl-1">
                        <p class="text-variant-2">HomeRent - Платформа за отдаване на имоти под наем.</p>
                        <ul class="mt-12">
                            <li class="mt-12 d-flex align-items-center gap-8">
                                <i class="icon icon-mapPinLine fs-20 text-variant-2"></i>
                                <p class="text-white">ПМГ "Христо Смирненски" гр. Перник </p>
                            </li>
                            <li class="mt-12 d-flex align-items-center gap-8">
                                <i class="icon icon-phone2 fs-20 text-variant-2"></i>
                                <a class="text-white caption-1">Алекс Първанов</a>
                            </li>
                            <li class="mt-12 d-flex align-items-center gap-8">
                                <i class="icon icon-mail fs-20 text-variant-2"></i>
                                <p class="text-white">a.parvanov@outlook.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-cl-2 footer-col-block">
                        <div class="fw-7 text-white footer-heading-mobile">Основни страници</div>
                        <div class="tf-collapse-content">
                            <ul class="mt-10 navigation-menu-footer">
                                <li> <a asp-area="" asp-controller="Home" asp-action="Index" class="caption-1 text-variant-2">Начало</a> </li>

                                <li> <a asp-area="" asp-controller="Home" asp-action="Index" class="caption-1 text-variant-2">Контакти</a> </li>

                                <li> <a asp-area="" asp-controller="Property" asp-action="All" class="caption-1 text-variant-2">Обяви за имоти</a> </li>

                                <li> <a asp-area="Identity" asp-page="/Account/Login" class="caption-1 text-variant-2">Вход</a> </li>

                                <li> <a asp-area="Identity" asp-page="/Account/Register" class="caption-1 text-variant-2">Регистрация</a> </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-cl-3 footer-col-block">
                        <div class="fw-7 text-white footer-heading-mobile">За потребителя</div>
                        <div class="tf-collapse-content">
                            <ul class="mt-10 navigation-menu-footer">
                                <li> <a asp-area="Identity" asp-page="/Account/Manage/Index" class="caption-1 text-variant-2">Профил</a> </li>
                                <li> <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="caption-1 text-variant-2">Табло за управление</a> </li>
                                <li> <a asp-area="Identity" asp-page="/Account/Manage/Email" class="caption-1 text-variant-2">Имейл</a> </li>
                                <li> <a asp-area ="Identity" asp-page="/Account/Manage/PersonalData" class="caption-1 text-variant-2">Лични данни</a> </li>
                                <li> <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="caption-1 text-variant-2">Промяна на парола</a> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>