@using HomeRent.Data.Models.User
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager;

<header id="header" class="main-header header-fixed fixed-header">
    <!-- Header Lower -->
    <div class="header-lower">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-header">
                    <div class="inner-header-left">
                        <div class="logo-box flex">
                            <div class="logo"><a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://res.cloudinary.com/dsxlhk9cg/image/upload/v1732976770/cuted-logo_slwxsi.png" alt="logo" width="166" height="48"></a></div>
                        </div>
                        <div class="nav-outer flex align-center">
                            <!-- Main Menu -->
                            <nav class="main-menu show navbar-expand-md">
                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="dropdown2 home current">
                                            <a asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                                            <ul>
                                                <li class="current"><a asp-controller="Home" asp-action="Index">Начало</a></li>
                                            </ul>
                                            <div class="dropdown2-btn"></div>
                                        </li>
                                        <li class="dropdown2">
                                            <a asp-area="" asp-controller="Property" asp-action="All">Обяви за имоти</a>
                                            <ul>
                                                <li><a asp-area="" asp-controller="Property" asp-action="All">Всички обяви</a></li>
                                                @if (SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Owner"))
                                                {
                                                    <li><a asp-area="" asp-controller="Property" asp-action="Create">Добавяне на обява</a></li>
                                                }
                                            </ul>
                                            <div class="dropdown2-btn"></div>
                                        </li>
                                        @if (SignInManager.IsSignedIn(this.User) && !this.User.IsInRole("Administrator"))
                                        {
                                            <li class="dropdown2">
                                                <a asp-area="" asp-controller="Dashboard" asp-action="Index">Табло</a>
                                                <ul>
                                                    <li><a asp-area="" asp-controller="Dashboard" asp-action="Index">Табло за управление</a></li>
                                                    @if (this.User.IsInRole("Owner"))
                                                    {
                                                        <li><a asp-area="" asp-controller="Dashboard" asp-action="Bookings">Резервации</a></li>
                                                    }
                                                    <li><a asp-area="" asp-controller="Dashboard" asp-action="Reviews">Ревюта</a></li>
                                                    <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Профил</a></li>
                                                </ul>
                                                <div class="dropdown2-btn"></div>
                                            </li>
                                        }
                                        
                                        @if (this.User.IsInRole("Administrator"))
                                        {
                                            <li class="dropdown2">
                                                <a asp-area="Admin" asp-controller="AdminDashboard" asp-action="Index">Администраторски панел</a>
                                                <ul>
                                                    <li><a asp-area="Admin" asp-controller="AdminDashboard" asp-action="Index">Начало</a></li>
                                                    <li><a asp-area="Admin" asp-controller="Properties" asp-action="Index">Обяви</a></li>
                                                    <li><a asp-area="Admin" asp-controller="Amenities" asp-action="All">Удобства</a></li>
                                                    <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Потребители</a></li>
                                                    <li><a asp-area="Admin" asp-controller="PropertyTypes" asp-action="All">Типове имоти</a></li>
                                                    <li><a asp-area="Admin" asp-controller="Statistics" asp-action="Index">Статистики</a></li>
                                                    <li><a asp-area="Admin" asp-controller="BookingPayments" asp-action="Index">Резервации и плащания</a></li>
                                                </ul>
                                                <div class="dropdown2-btn"></div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </nav>
                            <!-- Main Menu End-->
                        </div>
                    </div>
                    <div class="inner-header-right header-account">
                        <!-- Login Buttons -->
                        <partial name="_LoginPartial"/>
                        
                        @if (SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Owner"))
                        {
                            <div class="flat-bt-top">
                                <a class="tf-btn primary" asp-area="" asp-controller="Property" asp-action="Create">
                                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.625 14.375V17.1875C13.625 17.705 13.205 18.125 12.6875 18.125H4.5625C4.31386 18.125 4.0754 18.0262 3.89959 17.8504C3.72377 17.6746 3.625 17.4361 3.625 17.1875V6.5625C3.625 6.045 4.045 5.625 4.5625 5.625H6.125C6.54381 5.62472 6.96192 5.65928 7.375 5.72834M13.625 14.375H16.4375C16.955 14.375 17.375 13.955 17.375 13.4375V9.375C17.375 5.65834 14.6725 2.57417 11.125 1.97834C10.7119 1.90928 10.2938 1.87472 9.875 1.875H8.3125C7.795 1.875 7.375 2.295 7.375 2.8125V5.72834M13.625 14.375H8.3125C8.06386 14.375 7.8254 14.2762 7.64959 14.1004C7.47377 13.9246 7.375 13.6861 7.375 13.4375V5.72834M17.375 11.25V9.6875C17.375 8.94158 17.0787 8.22621 16.5512 7.69876C16.0238 7.17132 15.3084 6.875 14.5625 6.875H13.3125C13.0639 6.875 12.8254 6.77623 12.6496 6.60041C12.4738 6.4246 12.375 6.18614 12.375 5.9375V4.6875C12.375 4.31816 12.3023 3.95243 12.1609 3.6112C12.0196 3.26998 11.8124 2.95993 11.5512 2.69876C11.2901 2.4376 10.98 2.23043 10.6388 2.08909C10.2976 1.94775 9.93184 1.875 9.5625 1.875H8.625" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    Добави имот
                                </a>
                            </div>
                        }
                    </div>

                    <div class="mobile-nav-toggler mobile-button"><span></span></div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Header Lower -->
    <!-- Mobile Menu  -->
    <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <nav class="menu-box">
            <div class="logo d-flex justify-content-center"><a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://res.cloudinary.com/dsxlhk9cg/image/upload/v1732976770/cuted-logo_slwxsi.png" alt="logo" width="166" height="48"></a></div>
            <div class="bottom-canvas">
                <div class="login-box flex align-center">
                    <partial name="_LoginPartial" />
                </div>
                <div class="menu-outer">
                   
                </div>
                <div class="button-mobi-sell">
                    @if (SignInManager.IsSignedIn(User) && this.User.IsInRole("Owner"))
                    {
                        <a asp-controller="Property" asp-action="Create" asp-area="" class="tf-btn primary">Добавяне на обява</a>
                    }
                </div>
                <div class="mobi-icon-box">
                    <div class="box d-flex align-items-center">
                        <span class="icon icon-phone2"></span>
                        <div>+359 879 616 731</div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <span class="icon icon-mail"></span>
                        <div>a.parvanov@outlook.com</div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->
</header>
